.chat-cont {
    max-width: 1000px;
    margin: 40px auto;
    font-family: Arial, sans-serif;
    border: none;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.chattingbox {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 70%;
    word-wrap: break-word;
}

.message.user {
    align-self: flex-end;
    background-color: #dcf8c6;
}

.message.bot {
    align-self: flex-start;
    background-color: transparent; /* remove the gray */
    padding: 5px 10px;
    border-radius: 10px;
    max-width: 80%;
    font-size: 16px;
    color: #333;
    line-height: 1.6;
}



.inputbox {
    display: flex;
    border-top: 1px solid #ddd;
}

.inputbox input {
    flex: 1;
    padding: 10px;
    border: none;
    font-size: 16px;
}

.inputbox button {
    padding: 10px 15px;
    border: none;
    background: #7997b7;
    color: white;
    cursor: pointer;
}
.uploadingbox {
    margin-top: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}   